*{
	border: 0;
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	height: 100px;
	background: #242020;
	color: #fff;
	box-shadow: 5px 5px 30px #6A6E6F;
	border-radius: 5px;
}

header img{
	margin-left: 34%;
	margin-top: 24px;
	float: left;
}

header h1{
	margin-top: 30px;
	margin-left: 5px;
	width: 20%;
	float: left;
	color: #fff;
}

#cuerpo{
	height: 510px;
	margin-top: 20px;
	margin-left: 30%;
	width: 450px;
	box-shadow: 5px 5px 30px #6A6E6F;
	border-radius: 5px;
	border: solid #4B4B4B;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
	background: #30A67D;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

hr{
	margin-top:20px;
	margin-bottom: 20px;
	background: #32AE72;
	height: 2px;
}

#cuerpo h3{
	margin-top: 20px;
	font-family: "Verdana";
	color: #000;
}

#datos{
	margin-left: 20%;
	width: 250px;
	height: 300px;
	background: #fff;
	text-align: center;
}

#datos label{
	margin-left: 15px;
}

#datos input[type="checkbox"]{
	margin-left: 56%;
}

#profile{
	height: 530px;
	margin-top: 20px;
	margin-left: 5%;
	width: 90%;
	box-shadow: 5px 5px 30px #6A6E6F;
	border-radius: 5px;
	border: solid #4B4B4B;
}

p{
	text-align: justify;
}

#profile_info{
	width: 20%;
	height: 100%;
	float: left;
	margin-top: 2%;
	margin-left: 5%;
}

#profile_photo{
	width: 100%;
	height: 35%;
	border-radius: 10px;
	border: solid #4B4B4B;
}

#bio{
	height: 20%;
	width: 93%;
	margin-left: 3%;
	margin-top: 3%;
}

#option{
	width: 100%;
	height: 19%;
}

.maintenance{
	float: right;
	margin-right:3%;
	height: 30%;
	text-decoration: none;
	width: 15%; 
	margin-top: 1%;
	background-color: #4CAF50;
    color: black;
    text-align: center;
    border-radius: 10px;
	border: solid #000;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.maintenance:hover{
	background: black;
	color: white;
}

#foto{
	margin-top: 2%;
	margin-left: 7%;
	width:57%;
	height:45%;
	float: left;
	border-radius: 10px;
	border: solid #4B4B4B;
}

#profile_data{
	float: left;
	margin-top: 10%;
	line-height: 30px;
	text-align: justify;
}